*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    box-shadow: none;
    
}